    <section class="pre" id="pre">
        <div class="container-fluid">
          <% title("website developement mobile app startups storyitr8") %>
            <div class="col-lrg-1 text-center">
              <h1 class="section-heading">StoryItR8</h1>
              <h1 class="section-heading">Websites, mobile apps.</h1>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">Discover More</a>
          </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We believe in using open source software to save you money.</h2>
                    <hr class="light">
                    <p class="text-faded">We have learned from experience how to efficiently develop web projects and we want to freely share what we have learned.  <p> We believe there is an efficient path, deviate from the path and you may suffer from code that is too hard to change and maintain. </p>
                    <a href="#services" class="btn btn-default btn-xl">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We Believe You Can Learn How To Develop Open Source Websites</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gears wow bounceIn text-primary"></i>
                        <h3>Agile Process</h3>
                        <p class="text-muted">We'll teach you the right way.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Your Messages Delivered</h3>
                        <p class="text-muted">We can show you the way to get your messages to the right person to help.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We are up to date on the latest open source trends.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">We want you to be successful with your web project.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("ruby.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Back End API
                                </div>
                                <div class="project-name">
                                    Ruby on Rails
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("wordpress.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Content Management
                                </div>
                                <div class="project-name">
                                    Wordpress
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("ios.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mobile Development
                                </div>
                                <div class="project-name">
                                    Android or iOS
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("frontend.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    JavaScript Front End
                                </div>
                                <div class="project-name">
                                    React, Angular, Ember
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("testing.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Complete Tested Applications
                                </div>
                                <div class="project-name">
                                    RSpec, Cucumber
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag("database.jpg", class: "img-responsive")%>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Access Your Database From Anywhere
                                </div>
                                <div class="project-name">
                                    MySQL, Postgres, MongoDB
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container-fluid text-center">
            <div class="call-to-action">
                <h2>Order the Beta Book.</h2>
                <h3>And get free updates to the book when it is released in 2016.</h3>
                <a href="contact" class="btn btn-default btn-xl wow tada">Contact Us</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="pre">
                    <p>Is your business ready to use open source software using agile methods?  We can help you get there.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>435-770-7799</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:sales@storyitr8.com">sales@storyitr8.com</a></p><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Your Business, Practising Agile Development</h2>
                  <%= image_tag("logo90.png", class: "img-responsive")%>
                </div>
        </div>
    </section>
